.axis { font: 14px sans-serif; }

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

circle {
    fill: #000;
    fill-opacity: 0.7;
    stroke: #bbb;
    stroke-width: 1px;
}

circle:hover {
    fill: #bbb;
    stroke: #444;
}